.App {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}


.dark-green-button {
  width: 150px;
  height: 50px;
  background-color: #006400; 
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-red-button {
  width: 150px;
  height: 50px;
  background-color: #640000; 
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
}
